.padreProyect{
    display: grid;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(0.5rem);
    
}
.proyectLetra{
    color: rgb(11, 12, 12);
    display: grid;
    grid-template-columns: 45vh 1fr;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 45vh;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 17px 46px 105.9px 0px rgba(0, 0, 0, 0.25);
}
.proyectDetailInfo {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    height: fit-content;
    gap: 1rem;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    width: 100%;
}

.messageTextSend{
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    max-height: 10rem;
    overflow-x: hidden;
    background: #F4F4F4;
    word-wrap: break-word;
    resize: none;
    border-radius: 1rem;
    padding: 0.3rem;
}


/* Agregado para centrar contenido verticalmente */

.proyectDetailImage{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(143, 136, 136);
    width: 45vh;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 1rem;
}
#button{
    display: flex;
    justify-content: center;
    display: grid;
}


.closeModal{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}
.verMasInfo{
    display: flex;
    width: fit-content;
    height: fit-content;
    grid-column-start: 2;
    grid-column-end: 3;
}

.infoTotalComplete{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.proyectDescRating{
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.infoContainerDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    flex-direction: column;
    gap: 1rem;
}

.buttonsContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 2rem;
}

.buttonFull{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    border-radius: 1rem;
    min-width: 5rem;
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: #7286FF;
    border: 0.1rem solid #7286FF;
    color: white;
    transition: 200ms;
}

.buttonFull:hover{
    background: white;
    color: #7286FF;
}

.descriptionParrafo{
    display: flex;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.meta{
    color: #7286FF;
    user-select: none;
    transition: 200ms;
}

.meta:hover{
    color: #3c488e;
}

.closeModalTransition{
    position: relative;
    top: 1rem;
    right: 1rem;
}

.imageProject{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerTextProyect{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.commentsStyle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 8rem;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.titleComment{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
}


.titleComments{
    font-size: 1.3rem;
    font-weight: 700;
}

.commentBox{
    display: flex;
    padding: 0.5rem;
    width: 95%;
    height: fit-content;
    border-radius: 0.5rem;
}

.likeDislike{

    display: flex;
    gap: 1rem;
}

@media (max-width: 750px) {
    .padreProyect {
        width: 100vw;
        height: 100vh;
    }
    .proyectLetra {
        grid-template-columns: 1fr;
        width: 90vw;
        height: auto;
    }
    .proyectDetailInfo {
        flex-direction: column;
    }
    .messageTextSend {
        height: 3rem;
    }
    .proyectDetailImage {
        width: 100%;
        height: 45vh;
    }
    .infoContainerDetail {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .buttonsContainer {
        flex-direction: column;
        gap: 1rem;
    }
    .buttonFull {
        width: 100%;
        justify-content: center;
    }
    .descriptionParrafo {
        height: auto;
    }
    .commentsStyle {
        height: auto;
    }
}