.containerToggle{
    display: flex;
    position: fixed;
    background: #ffffff;
    transform: translate(0rem, 1.1rem);
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 8rem;
    width: 10rem;
    right: 2rem;
    flex-direction: column;
    box-shadow: 2px 1px 40px 5px rgba(170, 170, 170, 0.2);
    transition: 200ms;
    pointer-events: 'visible';
    z-index: 10;
}

.logOut{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF72D7;
    width: 100%;
    height: 2rem;
    justify-content: center;
    cursor: pointer;
    transition: 200ms;
}

.logOut:hover{
    color: #ffa7e6;
    background: rgb(240, 240, 240);
}


.myProfile{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 2rem;
    justify-content: center;
    cursor: pointer;
    transition: 200ms;
}

.myProfile:hover{
    background: rgb(240, 240, 240);
}