
.servicesContainer{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 1rem;
    padding: 2rem;
    align-self: center;
    justify-self: center;
    width: 60vw;
    height: fit-content;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 9px 17px 81.5px 0px rgba(0, 0, 0, 0.25);
}

.titleServices{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    width: 100%;
}

.titleService{
    font-weight: 1.2rem;
}

.titlePage{
    font-size: 1.5rem;
    font-weight: 700;
}

.imageAndTitle{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.cardContainerServices{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 45vh;
    max-height: 100%;
    box-shadow: -1px 5px 11.4px 0px #EEF0FA;
    border-radius: 1rem;
    
}
.cardServices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    box-shadow: -1px 5px 11.4px 0px #EEF0FA;
    border-radius: 1rem;
}
.image{
    background: #24275A;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
}
.titleServiceAndButton{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 1rem;
    font-weight: 500;
    color: #24275A;
}
.buttonAgenda{
    font-size: 0.8rem;
    color: #7386FF;
    cursor: pointer;
}
.serviceType{
    font-size: 0.8rem;
    color: #7386FF;
}

.overFlowContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height:100% ;
    padding: 1rem;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}