 .backgroundSignin {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100vh;
     background: #7286FF;
     color: #24275A;
 }

 .cardContainer {
     background: white;
     position: relative;
     transform: translate(0, -2.5rem);
     gap: 1rem;
     width: 50vw;
     height: 70vh;
     border-radius: 1rem;
     overflow: auto;
 }

 .registerAndInit {
     display: flex;
     gap: 1rem;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     width: 100%;
 }

 .formDesign {
     display: flex;
     gap: 2rem;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
 }

 .labelAndInput {
     display: flex;
     gap: 0.5rem;
     flex-direction: column;
     width: 100%;
 }

 .buttons {
     display: flex;
     gap: 1rem;
     flex-direction: column;
     width: 100%;
 }

 .input {
     display: flex;
     justify-content: baseline;
     align-items: center;
     padding-left: 1rem;
     height: 4rem;
     width: 100%;
     background: #F7F8FF;
     border-radius: 1rem;
 }

 .formAndImage {
     display: flex;
     height: 100%;
 }

 .textInfo {
     display: flex;
     padding: 2rem;
     gap: 4rem;
     align-items: flex-start;
     justify-content: center;
     height: 90%;
     width: 50%;
     flex-direction: column;
     /* padding-top: 1rem;
     padding-bottom: 1rem; */
 }
 
 .textInfoHeOlvidado {
     display: flex;
     padding: 2rem;
     gap: 4rem;
     align-items: flex-start;
     justify-content: space-between;
     height: 100%;
     width: 50%;
     flex-direction: column;
 }




 .illu {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     height: 100%;
     border-radius: 1rem;
     background: rgb(224, 224, 224);
 }

 .titleCard {
     position: relative;
     transform: translate(0, 1rem);
     font-size: 1.3rem;
     font-weight: 700;
 }

 .register {
     color: #7286FF;
     transition: 100ms;
 }

 .heOlvidado {
     position: relative;
     transform: translate(0, -1rem);
     color: #7286FF;
     transition: 100ms;
     cursor: pointer;
 }

 .register:hover {
     color: #5063ce;
 }

 .buttonFull {
     width: 100%;
     height: 4rem;
     border-radius: 1rem;
     background: #7286FF;
     color: white;
     transition: 100ms;
 }

 .buttonFull:hover {
     background: #5063ce;
 }

 .buttonGoogle {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     width: 100%;
     height: 3rem;
     border-radius: 1rem;
     background: #ffffff;
     border: 1px solid #D8D8D8;
     color: #b6b6b6;
     transition: 100ms;
 }

 .buttonGoogle:hover {
     background: rgb(98, 98, 98);
 }

 /* diseño para desktop 1440 x 860 */
 @media(max-width: 1440px) {
     .backgroundSignin {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100vh;
         background: #7286FF;
         color: #24275A;
     }

     .cardContainer {
         background: white;
         gap: 1rem;
         width: 60vw;
         height: 70vh;
         border-radius: 1rem;
         position: relative;
         transform: translate(0, -2rem);
     }

     .registerAndInit {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
     }

     .formDesign {
         display: flex;
         gap: 1rem;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
     }

     .labelAndInput {
         display: flex;
         gap: 0.5rem;
         flex-direction: column;
         width: 100%;
     }

     .buttons {
         display: flex;
         gap: 1rem;
         flex-direction: column;
         width: 100%;
     }

     .input {
         display: flex;
         justify-content: baseline;
         align-items: center;
         padding-left: 1rem;
         height: 3.5rem;
         width: 100%;
         background: #F7F8FF;
         border-radius: 1rem;
     }

     .formAndImage {
         display: flex;
         height: 100%;
     }

     .textInfo {
         display: flex;
         padding: 2rem;
         gap: 2rem;
         align-items: flex-start;
         justify-content: center;
         height: 100%;
         width: 50%;
         flex-direction: column;
     }

     .illu {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 50%;
         height: 100%;
         border-radius: 1rem;
         background: rgb(224, 224, 224);
     }

     .titleCard {
         font-size: 1.3rem;
         font-weight: 700;
     }

     .register {
         color: #7286FF;
         transition: 100ms;
     }

     .register:hover {
         color: #5063ce;
     }

     .buttonFull {
         width: 100%;
         height: 3.5rem;
         border-radius: 1rem;
         background: #7286FF;
         color: white;
         transition: 100ms;
     }

     .buttonFull:hover:not(:disabled) {
        background: #5063ce;
    }
    
    .buttonFull:disabled {
        background: #7286FF;
    }

     .buttonGoogle {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         gap: 1rem;
         width: 100%;
         height: 3.5rem;
         border-radius: 1rem;
         background: #ffffff;
         border: 1px solid #D8D8D8;
         color: #b6b6b6;
     }
 }

 /* diseño para Mobile 1920 x 1080 */
 @media(max-width: 775px) {


     .backgroundSignin {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100vh;
         background: #ffffff;
         color: #ffffff;
     }

     .cardContainer {
         display: flex;
         flex-direction: column;
         position: relative;
         transform: translate(0, -2rem);
         background: #7286FF;
         gap: 1rem;
         width: 100vw;
         height: 100vh;
         border-radius: 0;
     }

     .registerAndInit {
         display: flex;
         gap: 1rem;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
     }

     .formDesign {
         display: flex;
         gap: 2rem;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
     }

     .labelAndInput {
         display: flex;
         gap: 0.5rem;
         flex-direction: column;
         width: 100%;
     }

     .buttons {
         display: flex;
         gap: 1rem;
         flex-direction: column;
         width: 100%;
     }

     .input {
         display: flex;
         justify-content: baseline;
         align-items: center;
         padding-left: 1rem;
         height: 4rem;
         width: 100%;
         background: #F7F8FF;
         border-radius: 1rem;
     }

     .formAndImage {
         display: flex;
         flex-direction: column;
         height: 100%;
     }

     .textInfo {
         display: flex;
         padding: 2rem;
         gap: 3rem;
         align-items: center;
         justify-content: center;
         height: 100%;
         width: 100%;
         flex-direction: column;
     }

     .illu {
         display: none;
     }

     .titleCard {
         font-size: 1.3rem;
         font-weight: 700;
     }

     .register {
         color: #344083;
         transition: 100ms;
     }

     .register:hover {
         color: #262b4b;
     }

     .buttonFull {
         width: 100%;
         height: 4rem;
         border-radius: 1rem;
         background: #5063ce;

         color: white;
         transition: 100ms;
     }

     .buttonFull:hover {
         background: #5063ce;
     }

     .buttonGoogle {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         gap: 1rem;
         width: 100%;
         height: 4rem;
         border-radius: 1rem;
         background: #ffffff;
         border: 1px solid #D8D8D8;
         color: #b6b6b6;
     }



 }


 @media(max-height: 800px) {
     .registerAndInit {
         display: flex;
         position: relative;
         transform: translate(0, -1rem);
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         width: 100%;
     }

     .textInfo {
         gap: 1rem
     }

     .formDesign {
         gap: 1rem;
     }

     .input {
         height: 3.3rem;
     }

     .buttonFull {
         height: 3.3rem;
     }

     .buttonGoogle {
         height: 3.3rem;
     }
 }