.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7286FF;
    color: white;
    text-align: center;
    padding: 15px;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socialMedia a {
    color: white;
    text-decoration: none;
}